<!-- Patch -->
  <section class="py-5" id="{{ site.data.sitetext[site.locale].patch.section | default: "patch" }}">
    <div class="container">
      <div class="row" id="center-clients" >
        <div class="col-md-3 col-sm-6">
          <img class="img-fluid d-block mx-auto" src="{{ site.data.sitetext[site.locale].patch.logo }}" alt="{{ client.title }}" style="max-height: {{ site.data.sitetext[site.locale].patch.max-height | default: "100px" }}">
        </div>
      </div>
    </div>
  </section>
