#iss {
    text-align: center;
    background-color: black;
    background-image: url("#{$iss-image}");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    .img-back {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}
@media (min-width: 768px) {
    #iss
    {
            .img-back {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    }
}