// Styling for the services section
#services {
  background-color: $gray-800;
}

.service-logo-container {
  //height: 100px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 250px;
}

.service-logo {
  max-height: 250px;
  max-width: 60%;
  margin: 15px 0;
}
.service-heading {
  text-transform: none;
}
